body.music{
  background-image: linear-gradient(to bottom, #0e3e51, #07141e 66%, #060e17);
  -webkit-font-smoothing: antialiased;

  .overlay{
    content: "";
    background: url('../img/music-bg.png');
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-size: cover;
    opacity: .27;
  }
}

.as-player{
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  .title,.artist,.waveform,.play-pause,.footer{
    opacity: 0;
  }
}

.player-artwork{
  
  .artwork-cover{
    opacity: 0;
    position: relative;
    filter: drop-shadow(15px 11px 10px rgba($black,.5));
    
    .artwork{
      padding-top: 100px;
      position: relative;
      z-index: 1;
    }
    
    .vinyl{
      position: absolute;
      left: 50%;
      margin-left: -95px;
      z-index: 0;
      
      &.rotate{
        animation: floatingLines 6s linear infinite;
        animation-play-state: paused;
      }
    }
  }
  
}

#waveform{
  position: relative;

  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 50%;
    background: rgba($black,.18);
  }
}

@keyframes rotate {
  from{
    transform: rotateZ(0deg);
  } 
  to{
    transform: rotateZ(360deg);
  }
}

.play-pause{
  
  .play{

    &.active{
      .fa-play-circle{
        display: none;
      }
    }

    &:not(.active){
      .fa-pause-circle{
        display: none;
      }
    }
  }
}